section.big-banner(style="background-image: url(images/banners/index-banner.jpg)")
  .container
    #js-big-banner__slider.big-banner__slider
      .js-big-banner__slider-track.swiper-wrapper
        //- item Generation in js use Database Firebase
      button(type="button" role="button" aria-label="Previous").big-banner__slider-arrow.big-banner__slider-arrow--prev
        img(src="images/icon/left-arrow.png") 
      button(type="button" role="button" aria-label="Next").big-banner__slider-arrow.big-banner__slider-arrow--next
        img(src="images/icon/right-arrow.png") 
      .big-banner__slider-dots(role="tablist") 