html {
	box-sizing: border-box;
	font-size: 14px;
	height: 100%;
}
*,
*::after,
*::before {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	line-height: 24px;
	font-weight: 400;
	color: $textColor;
	height: 100%;
}
input,
button,
textarea,
select {
	border: none;
}
textarea {
	resize: none;
}
.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}
.container-fluid {
	margin: 0 auto;
	max-width: 1920px;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.content {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.main-title {
	text-align: center;
	max-width: 700px;
	margin: 0 auto;
	text-transform: uppercase;
	
	&--left {
		max-width: 600px;
		margin: 0;
		.main-title__title {
			margin-bottom: 40px;
		}
		.main-title__subtitle {
			text-align: left;
		}
	}
	&__title {
		@include resetMP;
		font-size: 48px;
		color: $white;
		font-weight: 300;
		letter-spacing: 1px;
		background-color: $black;
		margin-bottom: 30px;
		line-height: 60px;
	}
	&__subtitle {
		font-weight: 300;
		font-size: 18px;
		letter-spacing: 4px;
		color: $black;
	}
}

.small-title {
	@include resetMP;
	font-size: 1.2rem;
	color: $black;
	letter-spacing: 4px;
	font-weight: 300;
	margin-bottom: 2.5rem;
	text-transform: uppercase;
}

.load__btn {
	@include resetButton;
	width: 125px;
	padding: 5px 0;
	border-radius: 1px;
	background-color: #959595;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 13px;
	line-height: 20px;
	letter-spacing: .50px;
}

.inner__title {
	@include resetMP;
	font-size: 16px;
	letter-spacing: 0.25px;
	font-weight: 700;
}

.headline {
	text-align: center;
	max-width: 615px;
	width: 100%;
	margin: 0 auto;
	&__title {
		@include resetMP;
		color: $black;
		text-transform: uppercase;
		font-weight: 300;
		font-size: 30px;
		letter-spacing: 4px;
		margin-bottom: 2.1rem;
	}
	&__text {
		@include resetMP;
		line-height: 26px;
		font-weight: 500;
	}
}

.socials-list {
	@include resetUl;
	li {
		display: inline-block;
	}
	a {
		@include resetLink;
    color: $textColor;
	}
}

// single-post 

.default__input {
	height: 38px;
	width: 250px;
	border: 1px solid #e1e1e1;
	padding: 0 10px;
	border-radius: 2px;
	outline: none;
	&::placeholder {
		font-style: italic;
	}
	&:focus::placeholder {
		font-size: 0;
	}
	&--active {
		border-left-width: 4px;
	}
}

.send-message__btn {
	@include resetButton;
	width: 195px;
	height: 42px;
	text-align: center;
	line-height: 42px;
	border-radius: 2px;
	background-color: #000;
	color: #fff;
	text-transform: uppercase;
}
