html {
	box-sizing: border-box;
	font-size: 14px;
	height: 100%;
}
*,
*::after,
*::before {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
	line-height: 24px;
	font-weight: 400;
	color: $textColor;
	height: 100%;
}

// start reset CSS
input,
button,
textarea,
select {
	border: none;
}
textarea {
	resize: none;
}
img {
	display: block;
}
.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}
.container-fluid {
	margin: 0 auto;
	max-width: 1920px;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow-x: hidden;
}
.content {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

// input:-webkit-autofill,
// input:-webkit-autofill:hover,
// input:-webkit-autofill:focus,
// input:-webkit-autofill:active {
//   -webkit-box-shadow: 0 0 0px 10em #fff inset !important;
//   -webkit-text-fill-color: #000 !important;
// }

input[type="text"]::-ms-clear {
	display: none;
	width: 0;
	height: 0;
}
input[type="text"]::-ms-reveal {
	display: none;
	width: 0;
	height: 0;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}
//  end reset CSS
// Logotype common
.logo {
	svg {
		& + svg {
			margin-left: 5px;
		}
	}
}

// MainHeadline title in site only index.html
.main-title {
	text-align: center;
	max-width: 700px;
	margin: 0 auto;

	text-transform: uppercase;

	// for other pages extends from main-title  CSS
	&--left {
		max-width: 600px;
		margin: 0;
		.main-title__title {
			margin-bottom: 40px;
		}
		.main-title__subtitle {
			text-align: left;
		}
	}
	&__title {
		@include resetMP;
		font-size: 48px;
		color: $white;
		font-weight: 300;
		letter-spacing: 1px;
		background-color: $black;
		margin-bottom: 30px;
		line-height: 60px;
		opacity: 0;
		// transition: opacity 1s ease;
		animation: fade .5s .3s ease-in forwards;
		span {
			opacity: 0;
			animation: fade .5s .7s ease-in forwards;
		}
	}
	&__subtitle {
		font-weight: 300;
		font-size: 18px;
		letter-spacing: 4px;
		color: $black;
		opacity: 0;
			animation: fade 0.5s .3s ease-in forwards;
	}
}
// load btn for load file) on index.html,  blog.html
.load__btn {
	@include resetButton;
	width: 125px;
	padding: 5px 0;
	border-radius: 1px;
	background-color: #959595;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 13px;
	line-height: 20px;
	letter-spacing: 0.5px;
	position: relative;
	overflow: hidden;
	span {
		position: relative;
		z-index: 2;
	}
}

// title on about.html
.small-title {
	@include resetMP;
	font-size: 1.2rem;
	color: $black;
	letter-spacing: 4px;
	font-weight: 300;
	margin-bottom: 2.5rem;
	text-transform: uppercase;
}

//  title on about.html, portfolio__details.html
.inner__title {
	@include resetMP;
	font-size: 1.15rem;
	letter-spacing: 0.25px;
	font-weight: 700;
}

// title on about.html, portfolio__details.html, single-post.html
.headline {
	text-align: center;
	max-width: 615px;
	width: 100%;
	margin: 0 auto;
	&__title {
		@include resetMP;
		color: $black;
		text-transform: uppercase;
		font-weight: 300;
		font-size: 2.15rem;
		letter-spacing: 4px;
		margin-bottom: 2.1rem;
	}
	&__text {
		@include resetMP;
		line-height: 26px;
		font-weight: 500;
	}
}

// list with icon in footer.html, portfolio__details.html
.socials-list {
	@include resetUl;
	li {
		display: inline-block;
	}
	a {
		@include resetLink;
		color: $textColor;
		&::before {
			transition: all 0.3s ease-in;
		}
	}
}

// start this classes have  single-post.html and contact.html

.default__input {
	height: 38px;
	max-width: 250px;
	width: 100%;
	border: 1px solid #e1e1e1;
	padding: 0 10px;
	border-radius: 2px;
	outline: none;
	transition: all 0.5s;
	&::placeholder {
		font-style: italic;
	}
	&:focus::placeholder {
		font-size: 0;
	}
	&--active {
		border-left-width: 4px;
	}
}

.send-message__btn {
	@include resetButton;
	width: 195px;
	height: 42px;
	text-align: center;
	line-height: 42px;
	border-radius: 2px;
	background-color: #000;
	color: #fff;
	text-transform: uppercase;
}
// end

// start Dark Theme
.dark-theme {
	// transition: 1s ease-in-out;
	background-color: #0e0e0e;
	color: #fff;
	a {
		color: #fff;
	}

	button {
		color: #fff;
		&::before {
			color: #fff;
		}
	}
	#bulb,
	#light {
		path {
			fill: #fff;
			text-shadow: 0 0 20px #fff;
			animation: flicker 1s ease-out forwards;
		}
	}
	.load__btn {
		background-color: #000;
	}
	.small-title {
		color: $white;
	}
	.inner__title {
		color: #e3e3e3;
	}
	.main-title__title {
		color: #000;
		background-color: #fff;
	}
	.headline__title {
		color: #fff;
	}
	.default__input {
		color: #fff;
		background-color: #000;
		border: 0;
		border-left: 4px solid transparent;
		&--active {
			border-left-color: #fff;
		}
	}
	.our-value__item-title {
		color: #fff;
	}
	
}
// end Dark Theme
//  START ANIMATION BLOCK
// Logo
#bulb {
	animation: up 1s ease-in forwards;
}
#light {
	animation: down 1s ease-in forwards;
}
// Logo

// END ANIMATION BLOCK
