@media (max-width: 1320px) {
  // start big-banner
  .big-banner__slider {
    &-arrow {
      &--prev {
        left: 0;
      }
      &--next {
        right: 0;
      }
    }
  }
  // end big-banner 
}  
@media (max-width: 1240px) {
  // start skills.html
  .skill-our__progress {
    width: 90%;
  }
  // end skills.html
}
@media (max-width: 1089px) {
  // start contact.html
  .info-form__input {
    margin-bottom: .15rem;
    input {
      max-width: 380px;
      margin-bottom: 10px;
      & + input {
        margin-left: 0px;
      }
    } 
  }
  // end contact.html
  // start portfolio__details.html
  .item-det__content {
    flex: 1 1 100%;
    order: 1;
    &-title {
      margin-bottom: 10px;
    }
    &-headline {
      margin-bottom: .15rem;
    }
    &-subtext {
      margin-bottom: 0;
      padding: 0.8rem 0 1.3rem;
      border: 0;
    }
  }
  .item-det__box {
    margin-bottom: .85rem;
  }
  .item-tags+.item-tags {
    margin-top: 1.6rem;
  }
  .item-det__images {
    order: 0;
    flex: 1 1 100%;
    margin-bottom: 2rem;
    &-item {
      width: 25%;
      height: 200px;
    }
  }
  .js-slider__item-details--full {
    .item-det__content-title {
      font-size: 20px;
    }
  }
  // end portfolio__details.html
}
@media (max-width: 960px) {
  // start skills.html
  .story-our {
    p {
      margin-bottom: 24px;
      line-height: 22px;
    }
  }
  .small-title {
    margin-bottom: 1.5rem;
  }
  .skill-our__item + .skill-our__item {
    margin-top: 10px;
  }
  .skill-our__title {
    margin-bottom: 10px;
  }
  // end skills.html
  // start team.html
  .team__item-images {
    height: 330px;
  } 
  // end team.html
  // start blog.html
  .blog-content {
    column-count: 1;
  }
  .tape-item {
    max-width: 100%;
    &__img {
      margin-bottom: .8rem;
    }
    &__title {
      margin-bottom: .5rem;
    }
    &__text {
      margin: .9rem 0 0.85rem;
    } 
  }
  .blog-tags__btn {
    padding: 0 10px;
  }
  .blog-instagram__link {
    margin: 0 0 5px 3px; 
  }
  // end blog.html
  // start portfolio__details.html
  .js-slider__item-details--full {
    .item-det__images-main {
      min-height: 295px;
    }
    .item-det {
      flex-basis: calc(50% - 30px);
    }
  }
  
  // end portfolio__details.html
}

@media (max-width: 860px) {
  // start single-post.html
  .leave-comment {
    padding-bottom: 2.7rem;
  }
  .form-comment__input {
    margin-bottom: 0.4rem;
    input {
      max-width: 100%;
      margin-bottom: 10px; 
      & + input {
        margin-left: 0;
        
      }
    }
  }
  // end single-post.html
  //  start portfolio.html
  .portfolio-list { 
    li {
      padding: 0 5px;
    }
    &__btn {
      padding: 0 8px;
    }
  }
  
  //  end portfolio.html   
  // start portfolio__details.html
  .item-det__images-item {
    height: 140px;
  } 
  // end portfolio__details.html 
  // start big-banner.html
  .main-title {
    max-width: 550px;
    &__title {
      font-size: 40px;
    }
  }
  .related-works__items-item {
    min-height: 200px;
  }
  // end big-banner.html
}
@media (max-width: 700px) {
  html {
    font-size: 12px;
  }
  // start header
  .header {
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, .25);
    &__list {
      display: block;
      position: absolute;
      top: 91px;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: calc(100vh - 92px);
      background-color: #fff;
      z-index: 50;
      text-align: center;
      padding-top: 100px;
      transform: translateX(200%);
      transition: all .5s;
    }
    &__link {
      font-size: 24px;
      margin-bottom: 10px;
    }
    &__search {
      width: 18px;
      height: 18px;
      margin: 0 10px;
      &::before {
        font-size: 18px;
        top: -4px;   
      }
    } 
  }
  .header__nav--active {
    .header__list {
      transform: translateX(0);
    }
  }
  .burger__menu {
    display: block;
  }
  // end header
  // start blog.html
  .blog {
    padding: 2rem 0 3.4rem;
    &__content {
      margin-bottom: 2.65rem;
    }
    &__inner {
      display: block;
    }  
  }
  .blog-aside {
    max-width: 100%;
    margin-left: 0;
    &__item {
      margin-top: 1.6rem;    
    }
    &__search {
      margin-bottom: 2.65rem;
    }
    &__title {
      margin-bottom: 1.5rem;
    }
  }
  .blog-post__items  {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
  }
  
  // end blog.html
  // start small-banner
  .small-banner {
    padding: 5.8rem 0 5.6rem;
    min-height: 310px;
  } 
  // end small-banner 

  // start skills.html
  .skills {
    padding: 2rem 0 2.2rem;
    &__images {
      flex: 1 1 100%;
      margin-bottom: 15px; 
    }
    &__content {
      flex: 1 1 100%;
    }
    .story-our {
      text-align: center; 
    }

  }
  // end skills.html

   // start team.html
   .team {
    padding: 2.2rem 0 3rem;
      &__headline {
        margin-bottom: 2.3rem;
      }
      &__item {
        flex: 1 1 100%;
        &-images {
          margin-bottom: 1.1rem;
        }
        &-subtitle {
          margin-bottom: .4rem;
        }
        &-text {
          line-height: 18px;
        }
      }
    }
  // end team.html
  // start portfolio.html
  .portfolio {
    padding: 0rem 0 4.6rem;
    &-nav {
      border: 0;
    }
    &-list { 
      li {
        display: block;
        &::before {
          display: none;
        }
      }
      &__btn {
        padding: 0 8px;
        font-size: 16px;
        margin-bottom: 5px;
      }
    }
  }  
  .portfolio-gallery__items {
    padding: 10px 0;
    column-count: 2;
  } 
  // end portfolio.html 
  // start portfolio__details.html
  .details {
    padding: 0 0 1rem;
  }
  .details__nav {
    margin-bottom: 1.7rem;
  }
  .item-tags__title {
    margin-bottom: .4rem;
  } 
  .js-slider__item-details--full {
    .item-det {
      flex: 1 1 100%;
      margin: 0 0 15px 0;
    }
    .new-item-wrapper {
      margin-left: 0;
    }
  }
  .related-works {
    padding: 0 0 1.7rem;
    &__headline {
      margin-bottom: 1.6rem;
    }
  }
  // end portfolio__details.html
  // start big-banner.html
  .big-banner {
    padding: 10.6rem 0 1.9rem;
    min-height: 400px;
  }
  .big-banner__slider {
    &-arrow {
      display: none;
    }
    .big-banner__slider-dots {
      bottom: -70px;
    }
  }
  // end big-banner.html
  // start our-value.html
  .our-value {
    padding-bottom: 1.8rem;
    &__headline {
      margin-bottom: 2.3rem;
    }
    &__items {
      display: block;
    }
  }
  .our-value__item {
    max-width: 100%;
    margin-bottom: 2rem;
    & + .our-value__item {
      margin-left: 0;
    } 
    &-images {
      margin-bottom: 10px;
    }
    &-title {
      margin-bottom: 1.1rem;
    }
  }
  // end our-value.html
  // start contact.html
  .contact {
    padding: 2.7rem 0 2.3rem;
  }
  .contact-info {
    padding-bottom: 1.7rem;
    &__inner {
      display: block;
    }
  }
  .info-contact {
    margin-right: 0;
    margin-bottom: 10px;
    &__headline {
      margin-bottom: .85rem;
    }
    &__work {
      margin-bottom: 1.15rem;
    }
  }
  .info-form {
    &__input {
      input {
        max-width: 100%;
      }
    }
    &__textarea {
      margin-bottom: 15px;
    }
  }
  // end contact.html
  // start single-post.html
  // GLOBAL_STYLE
  .inner__title {
    font-size: 1rem;
  }
  .descr-post {
    padding: 2.6rem 0 2.7rem;
  }
  .descr-post__headline-like {
    padding-left: 15px;
    &::before {
      top: 6px;
    }
  }
  .descr-post__content{
    &-images {
      margin-bottom: 1.6rem;
      min-height: 300px;
    }
    &-box {
      padding: 0 15px;
    }
    &-text{
      & + .descr-post__content-text {
        margin-top: 10px;
      }
    } 
    &-title {
      margin-bottom: .8rem;
    }
  }
  .descr-post__blockquote {
    padding: 10px;
    margin: 0.8rem 0 0.5rem;
  }
  // end single-post.html
  // start 404.html
  .error__404 {
    font-size: 180px;
    line-height: 180px;
    &-zero {
      width: 150px;
      height: 150px;
      margin: 0 15px;
    }
  }
  .error__subtext {
    font-size: 18px;
    margin-bottom: 15px;
    span {
      &::before {
        height: 2px;
      }
    }
  }
  .error__link {
    font-size: 14px;
  }
  // end 404.html
  // start footer
  .footer {
    &__logo {
      margin-bottom: 10px;
    }
    &-socials {
      font-size: 16px;
      padding: 10px 0;
    }
    &__copyright {
      padding: 15px 0;
    }
  }
  // end footer
}

@media (max-width: 600px) {
 // start big-banner.html
 .big-banner {
  padding: 6.6rem 0 1.9rem;
  }
// end big-banner.html
  // start blog.html 
  .blog-instagram__link {
    max-width: 80px;
    height: 60px;
  }
// end blog.html
// start portfolio__details.html
.item-det__images-main {
  min-height: 200px;
}
.item-det__images-item {
  height: 100px;
}
.related-works__items-item {
  min-height: 140px;
}
// end portfolio__details.html

}




@media (max-width: 500px) {
  
  // start team.html GLOBAL_STYLE
  .headline {
    &__title {
      margin-bottom: 1.1rem;
      font-size: 2rem;
    } 
    &__text {
      line-height: 22px;
    }
  }
  // end team.html 
 


  
  // start footer
  .footer {
    &-socials__list {
      li + li {
        margin-left: 1.3rem;
      }
    }
    &__copyright {
      font-size: 8px;
    }
  }
  // end footer
}

@media (max-width: 480px) {
  // start big-banner.html
 .big-banner {
   min-height: 360px;
 }
 .main-title__title {
   line-height: 46px;
 }
 // end big-banner.html

 // start skills.html
 .story-our {
  p {
    margin-bottom: 16px;
  }
 } 
 .small-title {
   margin-bottom: .5rem;
 }
 .skill-our__title {
   margin-bottom: 5px;
 }
 // end skills.html 
//  start single-post.html
  .descr-post__headline-date {
    margin: 0 20px;
  }
//  end single-post.html
 // start portfolio.html
 .portfolio-gallery__items {
   column-count: 1;
 }
 // end portfolio.html
// start portfolio__details.html
.nav-details__arrow {
  margin: 0 5px;
  &--prev {
    padding-left: 10px;
  }
  &--next {
    padding-right: 10px;
  }
} 
.nav-details__btn {
  padding: 0 0 0 18px;
  margin: 0 20px 0 auto;
}
.related-works__items-item {
  min-height: 90px;
}
// end portfolio__details.html 

}
@media (max-width: 430px) {
    // start blog.html 
    .blog-instagram__link {
      max-width: 100px;
      height: 80px;
    }
  // end blog.html
  // start error.html
  .error__404 {
    font-size: 130px;
    line-height: 130px;
    &-zero {
      width: 105px;
      height: 105px;
    }

  }
  // end error.html
  // start portfolio__details.html
  .item-det__content-title {
    font-size: 22px;
  }
  .item-det__share {
    &-list { 
      display: flex;
      li {
        height: 26px;
        width: 26px;
        font-size: 14px;
        &:first-child::before {
          transform: translateY(56%);
        }
      }
    }
    &-btn {
      padding: 7px 0;
      span {
        &::before {
          transform: translateY(5%);
        }
      }
    }
    
  }
  // end portfolio__details.html
}
@media (max-width: 320px) {
  // start big-banner.html
 .main-title__title {
   font-size: 36px;
   line-height: 42px;
 }
 // end big-banner.html
}

@media (min-width: 701px) {
  .header__list {
    display: flex !important;
  }

}