$textColor: #777;
$black: #000;
$white: #fff;
$borderColor: #e1e1e1;


@mixin resetUl {
  list-style: none;
	margin: 0;
	padding: 0;
}
@mixin resetLink {
  display: inline-block;
	text-decoration: none;
	cursor: pointer;
}
@mixin resetButton {
	outline: none;
	padding: 0;
  background-color: transparent;
	cursor: pointer;
}
@mixin resetH1 {
	margin: 0;
	padding: 0;
}