.leave-comment {
  padding-bottom: 10.7rem;
}

.form-comment {
  max-width: 810px;
  width: 100%;
  margin: 0 auto;
  text-align: center;

  &__input {
    margin-bottom: 20px;
    // margin-left: -30px;
    input + input {
      margin-left: 25px;
    }
    
  }
  &__textarea {
    padding: 13px 10px;
    height: 110px;
    width: 100%;
    margin-bottom: 20px;
  }

}