.leave-comment {
  padding-bottom: 10.7rem;
}
.form-comment {
  max-width: 810px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  &__input {
    margin-bottom: 1.4rem;
    input + input {
      margin-left: 1.8rem;
    }
  }
  &__textarea {
    padding: 13px 10px;
    height: 110px;
    max-width: 100%;
    margin-bottom: 1.4rem;
  }
}