section.descr-post
  .container
    .headline.descr-post__headline 
      h2.headline__title I am a blog
      .descr-post__headline-box
        .inner__title.descr-post__headline-user by Jehn Presia
        .inner__title.descr-post__headline-date February 28,2015
        button.inner__title.descr-post__headline-like.icon-heart-o 324 likes
    .descr-post__content
      .descr-post__content-images(style="background-image: url(images/single-post/__1.jpg)")  
      .descr-post__content-box
        p.descr-post__content-text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur, dolore adipisci. Vero nobis quia quas explicabo voluptatibus aliquid odit enim debitis nihil nam reprehenderit accusantium placeat, accusamus ducimus quaerat minus?   
        p.descr-post__content-text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur, dolore adipisci. Vero nobis quia quas explicabo voluptatibus aliquid odit enim debitis nihil nam reprehenderit accusantium placeat, accusamus ducimus quaerat minus?   
      blockquote.descr-post__content-blockquote.descr-post__blockquote
        p.descr-post__blockquote-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa deserunt ratione officia consequatur molestias quasi minus! Labore delectus aperiam similique aliquid quia, quas praesentium rerum. Deleniti earum impedit corporis eveniet.
      .descr-post__content-box
        .descr-post__content-title This is a Heading
        p.descr-post__content-text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur, dolore adipisci. Veronobis quia quas explicabo voluptatibus aliquid odit enim debitis nihil nam reprehenderit accusantium placeat,accusamus ducimus quaerat minus?   
        p.descr-post__content-text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur, dolore adipisciVero nobis quia quas explicabo voluptatibus aliquid odit enim debitis nihil nam reprehenderit accusantiuplaceat, accusamus ducimus quaerat minus?      