- var images = ["images/portfolio/__1.jpg", "images/portfolio/__2.jpg", "images/portfolio/__3.jpg", "images/portfolio/__4.jpg", "images/portfolio/__5.jpg", "images/portfolio/__6.jpg", "images/portfolio/__7.jpg", "images/portfolio/__8.jpg", "images/portfolio/__9.jpg", "images/portfolio/__10.jpg"]; 
section.portfolio
  .portfolio-nav
    .container
      ul.portfolio-list
        li
          button(class="portfolio-list__btn portfolio-list__btn--active" type="button") All
        li
          button(class="portfolio-list__btn" type="button") logo
        li
          button(class="portfolio-list__btn" type="button") Mobile App
        li
          button(class="portfolio-list__btn"  type="button") Wordpress
        li
          button(class="portfolio-list__btn"  type="button") Web design
        li
          button(class="portfolio-list__btn" type="button") Ui/UX
        li
          button(class="portfolio-list__btn" type="button") Branding 
  .portfolio-gallery
    .container
      .portfolio-gallery__items
        - for(let i = 0; i < images.length; i++)
          .portfolio-gallery__item
             picture
               img(src=images[i] alt="images")
             .portfolio-gallery__item-description
               button(type="button")
                 img(src="images/icon/plus-icon.svg", alt="")                                                              
      button(type="button").load__btn Load more       



