section.portfolio
  .portfolio-nav
    .container
      ul.portfolio-list
        li
          button(class="portfolio-list__btn portfolio-list__btn--active" type="button") All
        li
          button(class="portfolio-list__btn" type="button") logo
        li
          button(class="portfolio-list__btn" type="button") Mobile App
        li
          button(class="portfolio-list__btn"  type="button") Wordpress
        li
          button(class="portfolio-list__btn"  type="button") Web design
        li
          button(class="portfolio-list__btn" type="button") Ui/UX
        li
          button(class="portfolio-list__btn" type="button") Branding 
  .portfolio-gallery
    .container
      .portfolio-gallery__inner
        .portfolio-gallery__item
           picture
             img(src="images/portfolio/1.jpg" alt="images")
           .portfolio-gallery__description
             button(type="button")
               img(src="images/icon/plus-icon.svg", alt="")      
        .portfolio-gallery__item
          picture
            img(src="images/portfolio/2.jpg" alt="images")
          .portfolio-gallery__description
            button(type="button")
              img(src="images/icon/plus-icon.svg", alt="")
        .portfolio-gallery__item
          picture
            img(src="images/portfolio/3.jpg" alt="images")
          .portfolio-gallery__description
            button(type="button")
              img(src="images/icon/plus-icon.svg", alt="")
        .portfolio-gallery__item
          picture
            img(src="images/portfolio/4.jpg" alt="images")
          .portfolio-gallery__description
            button(type="button")
              img(src="images/icon/plus-icon.svg", alt="") 
        .portfolio-gallery__item
          picture
            img(src="images/portfolio/5.jpg" alt="images")
          .portfolio-gallery__description
            button(type="button")
              img(src="images/icon/plus-icon.svg", alt="")
        .portfolio-gallery__item
          picture
            img(src="images/portfolio/6.jpg" alt="images")
          .portfolio-gallery__description
            button(type="button")
              img(src="images/icon/plus-icon.svg", alt="")
        .portfolio-gallery__item
          picture
            img(src="images/portfolio/7.jpg" alt="images")
          .portfolio-gallery__description
            button(type="button")
              img(src="images/icon/plus-icon.svg", alt="")
        .portfolio-gallery__item
          picture
            img(src="images/portfolio/8.jpg" alt="images")
          .portfolio-gallery__description
            button(type="button")
              img(src="images/icon/plus-icon.svg", alt="")
        .portfolio-gallery__item
            picture
              img(src="images/portfolio/9.jpg" alt="images")
            .portfolio-gallery__description
              button(type="button")
                img(src="images/icon/plus-icon.svg", alt="")
        .portfolio-gallery__item
            picture
              img(src="images/portfolio/10.jpg" alt="images")
            .portfolio-gallery__description
              button(type="button")
                img(src="images/icon/plus-icon.svg", alt="")                                                          
      button(type="button").portfolio-gallery__btn Load more       



