header.header
  .container
    .header__inner
      a(href="#").header__logo.logo
        img(src="images/logo.png")
      nav.header__nav
        ul.header__list#js-header__list
          li
            a(href="./").header__link 
              span Главная
          li
            a(href="./about.html").header__link 
              span О нас                                           
          li
            a(href="./portfolio.html").header__link 
              span Портфолио 
          li
            a(href="./blog.html").header__link 
              span Блог
          li
            a(href="./contact.html").header__link 
              span Контакты 
        //- .header__search    
        //-   button(type="button").header__search-btn.header__search-btn--active#js-header__search-btn
        //-   input(type="text" placeholder="Search").header__search-input.default__input
        button(type="button").burger__menu#js-burger__menu
          <span></span>
          <span></span>
          <span></span>
  .header__lace                 