.related-works {
  padding: 0 0 9.7rem;
  &__headline {
    margin-bottom: 3.6rem;
  }
}

.related-works__items {
  display: flex;
  justify-content: space-between;
  &-item {
    display: block;
    flex: 0 1 calc(33% - 10px);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 250px;
    cursor: pointer;
  }
}