 //- for pages different
section.small-banner(style="background-image: url(images/banners/small-banner.webp)")
  .container
    .main-title.main-title--left
     h1.main-title__title Lian Creative Agency
     .main-title__subtitle Minimal frelance portfolio