include ../../layout/mixin/__icon-list.pug
footer.footer
  .container 
    a(href="#").footer__logo.logo
      img(src="images/logo.png")
  .footer-socials
    .container
      ul.footer-socials__list.socials-list
        +icon-list
  .footer__copyright &#169; 2016 <a> Mulitix Theme </a> by ThemeForces. All Rights Reserved.
