include ../../layout/mixin/__icon-list.pug
footer.footer
  .footer__logo
    .container
      a(href="#")
        img(src="images/logo.png")
  .footer-socials
    .container
      ul.footer-socials__list.socials-list
        +icon-list
        
  .footer__copyright &#169; 2016 <span> Mulitix Theme </span> by ThemeForces. All Rights Reserved.
