extends layout/main.pug
block content 
  section.small-banner(style="background-image: url(images/banners/small-banner__about.webp)")
    .container
      .main-title.main-title--left
        h1.main-title__title Lian Creative Agency
        .main-title__subtitle Minimal frelance portfolio
  include module/skills/skills.pug
  include module/team/team.pug
      
      