extends layout/main.pug
block content
  section.small-banner(style="background-image: url(images/banners/small-banner__portfolio.jpeg)")
    .container
      .main-title.main-title--left
        h1.main-title__title Portfolio ist true
        .main-title__subtitle Minimal frelance portfolio
  include module/portfolio/portfolio.pug      