mixin icon-list
  li
    a(href="#").icon-facebook
  li
    a(href="#").icon-google
  li
    a(href="#").icon-twitter
  li
    a(href="#").icon-linkedin
  li
    a(href="#").icon-basketball
  li
    a(href="#").icon-pinterest-p
  li
    a(href="#").icon-instagram