.header {
  box-shadow: 0px 2px 4.75px 0.25px rgba(0, 0, 0, 0.15);
  &__inner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 90px;
  }
  &__list {
    @include resetUl;
    display: flex;
  }
  &__logo {
    margin-right: auto;
  }
  &__link {
    @include resetLink;
    padding: 0 20px;
    line-height: 24px;
    letter-spacing: .75px;
    text-transform: uppercase;
    font-weight: 700;
    color: $textColor;
    &--active {
      position: relative;
      color: $black;
      &::before {
        content: '';
        width: 10px;
        height: 1px;
        position: absolute;
        top: 50%;
        left: 0;
        background-color: $black;
      }  
    }
  }
  .header__search {
    @include resetButton;
    margin-left: 25px;
    width: 13px;
    height: 13px;
    position: relative;
    &::before {
      content: '\f002';
      font-family: 'icomoon';
      color: $textColor;
      position: absolute;
      top: -2px;
      left: 0; 
    }
  }
  .burger__menu {
    @include resetButton;
    display: none;
  }
}
