mixin slider-index__item(title, subtitle)
  .slider-index__item.glide__slide
    .main-title
      h1.main-title__title #{title}
      .main-title__subtitle #{subtitle}


section.big-banner(style="background-image: url(images/banners/index-banner.jpg)")
  .container
    .slider-index
      .js-slider-index
        +slider-index__item('Lian Creative Agency', 'Minimal frelance portfolio')
        +slider-index__item('Lian Creative Agency2', 'Minimal frelance portfolio10')
        +slider-index__item('Lian Creative Agency3', 'Minimal frelance portfolio12')   
      button(type="button" role="button" aria-label="Previous").glider-arrow.glider-arrow--prev
        img(src="images/icon/left-arrow.png") 
      button(type="button" role="button" aria-label="Next").glider-arrow.glider-arrow--next
        img(src="images/icon/right-arrow.png") 
      .glider-dots(role="tablist")  