section.page-error
    .container
      .page-error__inner.error
        .error__404
          .error__404-number 4 
          .error__404-zero
          .error__404-number 4 
        .error__subtext We <span>could</span> find the page you're loocking for.
        a.error__link(href="#") Go Back  