section.team
  .container
    .headline.team__headline 
      h2.headline__title Awesome Team
      p.headline__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit.
    .team__inner
      .team__item
        a.team__images(href="#" style="background-image: url(../images/team/1.jpg);")
        a.team__title(href="#") Lian Joy
        .team__subtitle.inner__title CEO/Founder
        p.team__text Lorem ipsum dolor sit amet, conse ctetuer adipi scing elit, sed diam nonu mmy nibh euis mod tinci  
      .team__item
        a.team__images(href="#" style="background-image: url(../images/team/2.jpg);")
        a.team__title(href="#") Lian Joy
        .team__subtitle.inner__title CEO/Founder
        p.team__text Lorem ipsum dolor sit amet, conse ctetuer adipi scing elit, sed diam nonu mmy nibh euis mod tinci 
      .team__item
        a.team__images(href="#" style="background-image: url(../images/team/3.jpg);")
        a.team__title(href="#") Lian Joy
        .team__subtitle.inner__title CEO/Founder
        p.team__text Lorem ipsum dolor sit amet, conse ctetuer adipi scing elit, sed diam nonu mmy nibh euis mod tinci          



