.portfolio {
  padding: 2.4rem 0 9.6rem;
  text-align: center;
  &-nav {
    position: relative;
    &::after,
    &::before {
      content: '';
      position: absolute;
      height: 1px;
      width: 0;
      background-color: #fff;
      transition: all 2s ease-in;
    }
    &::before {
      top: 0;
      left: 0;
    }
    &::after {
      bottom: 0;
      right: 0;
    }
    &--active-anim {
      &::before,
      &::after {
        width: 100%;
      }
    }
  }
  &-list {
    @include resetUl;
    padding: 15px 0;
    &__plank {
      display: inline-block;
      padding: 0 15px;
      opacity: 0;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 1px;
        height: 30px;
        background-color: $borderColor;
        transform: translateY(-25%) rotate(25deg);
      } 
      &:last-child::before {
        display: none;
      }
    }
    &__btn {
      @include resetButton;
      padding: 0 10px;
      font-weight: 700;
      letter-spacing: .75px;
      text-transform: uppercase;
      color: $textColor;
      &--active {
        color: $black;
      } 
    }
  }
}

.portfolio-gallery {
  &__items {
    transition: height .5s ease-in;
    padding: 30px 0;
    column-count: 3;
    margin-left: -20px;
  }
}

.pulse__anim {
  position: absolute;
  width: 50px;
  height: 50px;
  transform: scale(0);
  background-color: #000;
  border-radius: 50%;
  animation: pulse .7s ease-in;
}

.portfolio-gallery__item {
  display: inline-block;
  position: relative;
  margin-bottom: 30px;
  margin-left: 20px;
  animation: fade 1s ease forwards;
  &:hover::before {
    opacity: 1;
  }
  img {
    width: 100%;
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, .5);
    opacity: 0;
    transition: all 1s;
  }
  .portfolio-gallery__item--active {
    display: inline-block;
    animation: fade 1s ease-in forwards;
  }
}

.dark-theme {
  .portfolio-list {
    padding: 10px 0;
    &__plank {
      background-color: #fff;
      height: 100%;
      transform: skew(-50deg);
      padding: 10px;
      transition: all .2s ease-in; 
      &::before {
        display: none;
      }
      & + li {
        margin-left: 10px;
      }
      &--active {
        box-shadow: 6px 3px 3px #fff;
        transition: box-shadow .5s ease-in;
        &:active {
          box-shadow: 6px 3px 2px #fff;
        }
      }

    }
    &__btn {
      z-index: 5;
      transform: skew(50deg);
      color:#000;
    }
    .pulse__anim {
      background-color: #fff;
    }
  }
}
