- var images = ["images/portfolio/__1.jpg", "images/portfolio/__2.jpg", "images/portfolio/__3.jpg", "images/portfolio/__4.jpg", "images/portfolio/__5.jpg", "images/portfolio/__6.jpg", "images/portfolio/__7.jpg", "images/portfolio/__8.jpg", "images/portfolio/__9.jpg", "images/portfolio/__10.jpg"]; 
section.portfolio
  .portfolio-nav
    .container
      ul.portfolio-list#js-portfolio-list
        li.portfolio-list__plank.portfolio-list__plank--active
          button(class="portfolio-list__btn portfolio-list__btn--active" type="button" data-href="all") All
        li.portfolio-list__plank
          button(class="portfolio-list__btn" type="button" data-href="logo") logo
        li.portfolio-list__plank
          button(class="portfolio-list__btn" type="button" data-href="mobileApp") Mobile App
        li.portfolio-list__plank
          button(class="portfolio-list__btn" type="button" data-href="wordpress") Wordpress
        li.portfolio-list__plank
          button(class="portfolio-list__btn" type="button" data-href="webDesign") Web design
        li.portfolio-list__plank
          button(class="portfolio-list__btn" type="button" data-href="ui/ux") Ui/UX
        li.portfolio-list__plank
          button(class="portfolio-list__btn" type="button" data-href="branding") Branding 
  .portfolio-gallery
    .container
      .portfolio-gallery__items
        - for(let i = 0; i < 1; i++)
          //- TODO path and imagesPath and data-item i will get width server   
          a.portfolio-gallery__item(href="./portfolio__details.html" data-id="0" target="__blank" data-item="wordpress" )
             picture
               img(src=images[i] alt="images")
            
        - for(let i = 0; i < 1; i++)         
          a.portfolio-gallery__item(href="./portfolio__details.html" data-id="2" target="__blank" data-item="wordpress" )
            picture
              img(src=images[i] alt="images")
        //- - for(let i = 0; i < images.length; i++)
        //-   a.portfolio-gallery__item(href="#" data-item="logo")
        //-      picture
        //-        img(src=images[i] alt="images")
        //-      .portfolio-gallery__item-description
        //-        button(type="button")
        //-          img(src="images/icon/plus-icon.svg", alt="")                                                                       
      button(type="button").load__btn Load more       



