- var title = ['Who we are', 'Our Vision', 'Our mission'];
- var images = ['background-image: url(images/our-value/__1.jpg)', 'background-image: url(images/our-value/__2.jpg)', 'background-image: url(images/our-value/__3.jpg)']; 
- var text = ['o asdkl;skdl;ksalk k kdal;sdk dk; dlaskd; dk; dd ;ado?', 'hhkhklipsum rat nihil id, auasdla sksa ;la;dk ;kas;dkas ;ak ;a;d laskd;lskd ;kodwkd apkjfijfa oaw tem dignissimos suscipit placeat laborum distinctio?',  'joijiljjo dignissimos suscipit placea akdjasf jlfjalsdj lajdak jwiodja wdj ajdaw joawjp d opdwt laborum distinctio?'];
section.our-value
  .container 
    .headline.our-value__headline
      h2.headline__title Our Values
      p.headline__text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae accusamus alias animi quisquam iusto nisi quos corrupti fuga similique sit ab quaerat nihil id, autem dignissimos suscipit placeat laborum distinctio?
    .our-value__items 
      - for(let i = 0; i < 3; i++)
        .our-value__item 
          .our-value__item-images(style=images[i])
          .our-value__item-title #{title[i]}
          .our-value__item-text #{text[i]} 
